body {
    margin: 0;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Arial, sans-serif;
    font-size:  1rem;
    text-align: center;
}

    .formulario{
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 1.5vh;
    }

    .listado{
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 1.5vh;
    }  

        table{
            border-collapse: collapse;
            display: block;
        }

            tr:nth-child(1){
                border-bottom: 2px dotted black;
            }

            td:nth-child(4){
                padding-left: 4vw;
            }

            td{
                height: auto;
                padding: 0.5vh 1vw 0.5vh 1vw;
            }

