body {
    margin: 0;
    height: 100vh;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

table{
    max-height: 500px;
    display: none;
}

/* .listado{
    display: flex;
    justify-content: center;
    text-align: center;
} */

td{
   border: 2px solid black; 
   padding: 5px 10px 5px 10px;
}
